*

!.gitignore
!LICENSE
!Makefile
!README.md

!mlx_mac/
!mlx_mac/*

!includes/
!cub3d.h
!mlx_keycode.h

!*.cub
!maps/
!maps/tests/
!maps/tests/doubles/
!maps/tests/invalid_format/
!maps/tests/invalid_map/
!maps/tests/invalid_values/
!maps/tests/missing/

!*.c
!src/
!src/mlx/
!src/parsing/
!src/render/

!*.xpm
!textures/
